body {
  font-family: Tahoma, sans-serif;
  background-color: #fdf2f2;
  color: #b71c1c;
}

header,
footer {
  background-color: #b71c1c;
  color: white;
  padding: 20px;
}

nav ul {
  display: flex;
  gap: 20px;
  list-style: none;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

main {
  padding: 40px 20px;
}

input,
button {
  padding: 10px;
  font-size: 16px;
}

button {
  background-color: #e53935;
  color: white;
  border: none;
  cursor: pointer;
}

.retangulos-imagem {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 40px 0;
  flex-wrap: wrap;
}

.retangulo {
  background-size: cover;
  width: 360px;
  height: 227px;
  background-color: #f0f0f0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.retangulo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
